name: "Container Image"

on:
  workflow_call:
    secrets:
      DOCKER_HUB_TOKEN:
        required: true
      DOCKER_HUB_USER:
        required: true
      GH_PAT:
        required: true
      GH_USER:
        required: true
      AWS_OIDC_ROLE_TO_ASSUME:
        required: true
  workflow_dispatch:

env:
  AWS_REGION: us-east-1

permissions:
  id-token: write
  contents: read

jobs:
  build_publish_container_images:
    name: Build and Publish Container Images
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go 1.x
        id: go
        uses: actions/setup-go@v4
        with:
          go-version-file: ./go.mod

      - name: Go version
        run: |
          go version

      - name: Git Current branch name (Version)
        run: |
          echo ${{ github.ref_name }}

      - name: Docker Version
        run: |
          docker version

      - name: Build container images
        run: |
          GIT_VERSION=${{ github.ref_name }} make container-build

      - name: Show container images
        run: |
          docker images

      - name: Logging in Docker Hub
        run: |
          echo ${{ secrets.DOCKER_HUB_TOKEN }} | docker login -u ${{ secrets.DOCKER_HUB_USER }} --password-stdin

      - name: Publish Images in Docker Hub
        run: |
          GIT_VERSION=${{ github.ref_name }} make container-publish-docker

      - name: Logging in GitHub Registry
        run: |
          echo ${{ secrets.GH_PAT }} | docker login ghcr.io -u ${{ secrets.GH_USER }} --password-stdin

      - name: Publish Images in GitHub Registry
        run: |
          GIT_VERSION=${{ github.ref_name }} make container-publish-github

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_TO_ASSUME }}
          role-session-name: publish-ecr-public-images
          aws-region: ${{ env.AWS_REGION }}

      - name: Logging in AWS ECR Public Repository
        env:
          AWS_REGION: ${{ env.AWS_REGION }}
        run: |
          aws ecr-public get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin public.ecr.aws

      - name: Publish Images in GitHub Packages
        run: |
          GIT_VERSION=${{ github.ref_name }} make container-publish-aws-ecr
