name: "golangci-lint"

on:
  push:
    branches:
      - '**'

  pull_request:
    branches:
      - main

  workflow_dispatch:

env:
  GO_VERSION: 1.18

jobs:
  codeql:
    name: golangci-lint Analysis
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
        id: go

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Show project files before make
        run: tree .

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: latest